# Shared
python-telegram-bot
requests

# Scraping and feeds
beautifulsoup4
feedparser

# Caching
pymemcache

# Trello
py-trello

# Pollen graph
sparklines

# Moon phase, sun up/down, weather stuff
python-forecastio
pytz
